.venv
*.zip
*.jpg
*.bmp
Laboratorium 2-20241004/teoria
*.DS_Store
Laboratorium 4-20241016/Lab4_teoria.pdf
APOW_2_Filtry_splotowe.pdf
APOW_3_Filtry_statystyczne_Morfologia.pdf
Laboratorium 4-20241016/pills.png
